header{
	background: #5D4B5A;
	padding: 20px;
	margin-bottom: 50px;

}
header h1{
	color: #D00A6C;
	font-family: harrington;
	font-size: 60px;
	text-shadow: 3px 3px 2px #050000;
	margin-left: 20px;

}

header h2{
font-family: times;
font-style: italic;
font-size:35px;
margin-top: 5px;
margin-left: 20px;
color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

.main{
	background: #
	padding-top: 10px;
	margin-top: 20px;
	margin-left: 25px;
	margin-right: 5px;
	margin-bottom: 10px;
}
.post{
	padding-bottom: 20px;
	margin-bottom: 10px;
	padding-right: 40px;
	padding-left: 40px;
	border-bottom: 2px solid #5C4D4D;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
} 
.main{
	background: #
	padding-top: 10px;
	margin-top: 20px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 10px;
}
#wrapper{
	max-width: 980px;
	margin: 0px auto 0px auto;
	background: rgba(186,183,179,0,2);
	position: right;
}
header a.logo{
	background: url(imagenes/LogoTintodelHuila3.png) no-repeat;
	position: absolute;
	right: .1px;
	top: .1px;
	width:400px;
	height: 400px;
	display: block;
}
.post{
	padding-bottom: 20px;
	margin-bottom: 10px;
	padding-right: 40px;
	padding-left: 40px;
	border-bottom: 2px solid #5C4D4D;
}
.post .post-title a{
	color:#EADDDD;
}

.post .thumb{
	margin-right: 0.1em;
	width: 40%;
}
.post .thumb img{
	width: 90%;
}
.post .contenedor-botones{
	width: 70%;
	
}
aside{
	position: relative;
	float: right;
	height: 100px;
	padding: 90px;
	margin-bottom: 40px;

}
@media screen and (max-width: 768px){
	.post .thumb{
		width: 100%;
		margin-bottom:10px;
		margin-right: 10px;
	}
}

.h1 {
	font: Helvetica, Verdana;
	font-size: 30px;
	color:blue;
	padding-top: 5px;

}
.full {
    width: 100%;	
}

.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}

.footer {
	background: #5C4D4D;
	height: auto;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #DEE6EE;
	color: #5D4B5A;
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 10px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 20px;
	color: #DAC6C6;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #EB33AA
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 80%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 70%;
	color: #FFFFFF;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #370707;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 15px;
	margin: 0 0 0 5px;
	color: #D11BA9 !important;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 5px solid #DDDDDD;
	padding-top: 5px;
	padding-bottom: 5px;
}
.footer-bottom p.pull-left {
	font-family: "arial narrow"
	text-align:center;
	padding-top: 2px;
